{% extends 'layout.html'%}



{% load static %}

{%block head%}
    <title>Contact</title>
    <meta name="description" content={{profile.description_short}}>
    <meta name="keywords" content="{{profile.job}}">
{% endblock %}

{%block content%}
                <div class="clearfix"></div>
                <!-- PAGE TITLE -->
                <div class="eskimo-page-title">
                    <h1><span>{{ profile.name }}</span></h1>
                    <p class="eskimo-page-subtitle">{{profile.job}}</p>
                </div>
                <!-- ABOUT ME -->
                <div class="row">
                    <div class="col-12 col-lg-8 order-2 order-lg-1">
                        {{profile.body|safe}}
                    </div>
                    <div class="col-12 col-lg-4 order-1 order-lg-2 mb-5 mb-lg-0">
                        <img src="{{profile.photo_big.url}}" alt="{{profile.name}}" class="img-fluid mx-auto d-block eskimo-img-shadow" />
                    </div>
                </div>
                <!-- DIVIDER -->
                <hr />
                <!-- TABS -->
                <h2>WHAT CAN I DO</h2>
                <!-- TABS NAVIGATION -->
                <ul class="nav nav-tabs">
                    <!-- TAB 1 -->
                    {% for skill in skils %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1 %} active {% endif %}" data-toggle="tab" href="#mp-tab-fashion" aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">{{skill.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <!-- TABS CONTENT -->
                <div class="eskimo-tabs-content tab-content">
                    {% for skill in skils %}
                    <div class="tab-pane fade {% if forloop.counter == 1 %}active show{% endif %}" id="mp-tab-fashion" role="button" aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">
                        {{skill.description}}
                    </div>
                    {% endfor %}
                </div>
                <!-- DIVIDER -->
                <hr />
                <h2>GALLERY</h2>
                <!-- IMAGE GALLERY -->
                <div class="eskimo-masonry-grid eskimo-gallery">
                    <div class="eskimo-four-columns" data-columns>
                        {% for gall in galleries %}
                            <div class="eskimo-gallery-item">
                                <a href="#" data-featherlight="{{gall.get_large.url}}" class="eskimo-lightbox">
                                    <img src="{{gall.get_small.url}}" alt="{% url 'gall.description' % }" />
                                </a>
                            </div>  
                        {% endfor %}
                    </div>
                </div>
                <!-- DIVIDER -->
                <hr />
                <h2>CONTACT ME</h2>
                <!-- CONTACT FORM -->
                <form action="{% url 'contact' %}" method="post">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p>
                            <label>Your Name</label><br />
                            <input type="text" name="sendername" id="sendername" class="form-control" required="required" maxlength="50" />
                        </p>
                        <p>
                            <label>Your Email</label><br />
                            <input type="email" name="senderemail" id="senderemail" class="form-control" required="required" maxlength="50" />
                        </p>
                        <p>
                            <label>Phone Number</label><br />
                            <input type="text" name="senderphone" id="senderphone" class="form-control" maxlength="50" />
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <p>
                            <label>Your Message</label><br />
                            <textarea name="sendermessage" id="sendermessage" required="required" class="form-control form-fixed-height"></textarea>
                        </p>
                        <button id="sendbutton" type="submit" class="btn btn-lg w-100">Send Message</button>
                    </div>
                </div>
                </form>
                <div id="form-messages"></div>
{% endblock %}          

{%block script%}
    <!-- JS FILES -->
    <script src="{% static 'theblog/js/featherlight.js' %}"></script>
    <script src="{% static 'theblog/js/ajax-contact-form.js' %}"></script>
{% endblock %}