
{% extends 'layout.html'%}


{% load static %}


{%block head%}
    <title>Blog</title>
    <meta name="description" content={{site.description_short}}>
    <meta name="keywords" content="{{site_key_words}}">
{% endblock %}

{%block content%}
                <!-- BLOG POSTS -->
                <!-- POST 1 -->
                {% for post in object_list %}
                    <div class="card card-horizontal">
                        <div class="card-body">
                            <div class="card-horizontal-left">
                                {% if post.category %}
                                <div class="card-category">
                                    <a href="{% url 'category' post.category.slug %}">{{post.category}}</a>
                                </div>
                                {% endif %}
                                <h3 class="card-title"><a href="{% url 'article-detail' post.slug %}">{{post.title}}</a></h3>
                                <div class="card-excerpt">
                                    <p>{{post.body|safe|slice:":100"}}</p>
                                </div>
                                <div class="card-horizontal-meta">
                                    <div class="eskimo-date-meta">
                                        <a href="{% url 'article-detail' post.slug %}">{{post.pub_date}}</a>
                                    </div>
                                    <div class="eskimo-reading-meta">{{post.read_time}} min read</div>
                                </div>
                            </div>
                            <div class="card-horizontal-right" data-img="{{post.photo.get_thumb.url}}">
                                <a class="card-featured-img" href="{% url 'article-detail' post.slug %}"></a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <li>No articles yet.</li>
                {% endfor %}
                {% include "./component/pagination.html" %}
                <div class="clearfix"></div>
{% endblock %}