{% extends 'layout.html'%}
{% load static %}



{%block content%}
<h1>Create Post</h1>
<div class="mb-4"> 
<button id="saveBtn" onclick="save()" class="btn btn-info" >Save</button>
<button id="loadBtn" onclick="load()" class="btn btn-default">Load</button>
</div>
    <br/>
    <form enctype="multipart/form-data" id="formToSave" method="post">{% csrf_token %}
    {{ form.as_p | safe }}
    {{ form.media }}
    <br/>
    <button onclick="postBtnClick()" id="sendbutton" type="submit" class="btn btn-primary btn-lg">Post</button>
    <button class="btn btn-default btn-lg">cancel</button>
</form>
<script src="https://dobalove.s3.me-south-1.amazonaws.com/editor/jd-editor.js"></script>
<script>
const uploadUrl = 'https://kbsjl5pnsi.execute-api.ap-northeast-2.amazonaws.com/dev/upload';

const myEdiorManager = new EditorFormManager({
    defaultKey: "post",
    editerKey: "body",
    formId: "formToSave",
    editorConfig: {
    holder: 'holder',
    image: {
      fileAction: uploadUrl,
      fetchAction: ''
    },
    file: {
      fileAction: uploadUrl
    },
    onLoad: () => {
        alert("Data is loaded")
    },
    onSave: () => {
        alert("Data is saved")
    },
    onCover: () => confirm("There is already saved data do you want to cover it?"),
  }
})

function save() {
    myEdiorManager.saveData()
}

function load() {
    myEdiorManager.loadData()
}

$('formToSave').form

</script>


<style>

#eskimo-footer {
    display:none!important
}
#eskimo-sidebar {
    display: none!important
}
#cke_1_contents {
    min-height: 400px;
}

.eskimo-top-icons-wrap {
    display: none;
}

{% comment %} 
h1 {
    color: white;
}

label {
    color: white;
}
#eskimo-main-container {
    background-color: black!important;
}
#eskimo-main-container input,#eskimo-main-container textarea,#eskimo-main-container select {
    background-color: black!important;
    color: white!important;
    border-color: white!important;
}
#django-ckeditor-widget {
    filter: brightness(0.8);
}


.helptext {
    color:white;
} {% endcomment %}


    .codex-editor {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 12px 15px;
}

.codex-editor:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
</style>


{% endblock %}





