{% extends 'layout.html'%}
{% load static %}

{%block head%}
    <title>Gallery</title>
    <meta name="description" content={{site.description_short}}>
    <meta name="keywords" content="gallery photo">
{% endblock %}
           {%block content%}
                <!-- IMAGE GALLERY -->
                <div class="eskimo-page-title">
                    <h1 class="no-border">Gallery</h1>
                </div>
                <div class="eskimo-masonry-grid eskimo-gallery">
                    <div class="eskimo-four-columns" data-columns>
                        {% for gall in object_list %}
                        <!-- GALLERY ITEM 1 -->
                        <div class="eskimo-gallery-item">
                            <a href="#" data-featherlight="{{gall.get_large.url}}" class="eskimo-lightbox">
                                <img src="{{gall.get_small.url}}" alt="{{ gall.description }}" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% include "./component/pagination.html" %}
                <p class="no-margin">© 2020 Crisma</p>
{% endblock %}
{%block script%}
    <script src="{% static 'theblog/js/panel.js' %}"></script>
    <script src="{% static 'theblog/js/featherlight.js' %}"></script>
{% endblock %}
