
{% extends 'layout.html'%}


{% load static %}

{%block head %}
    <link href="{% static 'theblog/css/slick.css'%}" rel="stylesheet" type="text/css">
    <title>Blog</title>
    <meta name="description" content={{site.description_short}}>
    <meta name="keywords" content={{site_key_words}}>>
{% endblock%}

{%block content %}
<!-- SLIDER WITH ONE POST -->
<div class="eskimo-carousel-container eskimo-bg-loader">
    <div id="eskimo-post-slider" class="eskimo-slider">
        <!-- SLIDE -->
        {% for post in pop_posts %}
            <div>
                <a class="eskimo-slider-img" href="{% url 'article-detail' post.slug %}"></a>
                <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                    <li>
                        <a href="{% url 'article-detail' post.slug %}"><span class="badge badge-default">{{ post.pub_date|date }}</span></a>
                    </li>
                    {% if post.category %}
                    <li>
                        <a href="{% url 'category' post.category.slug %}"><span class="badge badge-default">{{ post.category }}2</span></a>
                    </li>
                    {% endif %}
                </ul>
                <div class="clearfix"></div>
                <img src="{{ post.photo.get_large.url }}" alt="{{ post.photo.thumb_describe }}" />
                <div class="eskimo-slider-desc">
                    <div class="eskimo-slider-desc-inner">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p>{{ post.intro|slice:":75"}}...</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- BLOG POSTS -->

<div class="eskimo-masonry-grid">
    <div class="eskimo-two-columns" data-columns>
        <!-- POST -->
        {% for post in object_list %}
            <div class="card-masonry">
                <div class="card">
                    <a href="{% url 'article-detail' post.slug %}">
                            <img class="card-vertical-img" src="{{ post.photo.get_large.url }}" alt="{{ post.photo.thumb_describe }}" />   
                        </a>
                    <div class="card-border">
                        <div class="card-body">
                         {% if post.category %}
                            <div class="card-category">
                                <span><a href="{% url 'category' post.category.slug %}">{{ post.category }}</a></span>
                            </div>
                            {% endif %}
                            <h3 class="card-title"><a href="{% url 'article-detail' post.slug %}">{{ post.title }}</a></h3>
                            <p>{{ post.intro|slice:":150" }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="eskimo-date-meta">
                                <a href="{% url 'article-detail' post.slug %}">{{ post.pub_date }}</a>
                            </div>
                            <div class="eskimo-reading-meta">{{ post.read_time }} min read</div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
    </div>
</div>
<!-- VIEW ALL BUTTON -->
<div class="eskimo-view-more">
    <a class="btn btn-default" href="{% url 'blog' %}">VIEW ALL POSTS</a>
</div>

<!-- DIVIDER -->
<hr class="section-divider" />

<!-- CAROUSEL -->
<div class="eskimo-widget-title">
    <h3 class="eskimo-carousel-title"><span>POPULAR POSTS</span></h3>
</div>

<div class="eskimo-carousel-container">
    <div class="eskimo-carousel-view-more">
        <a href="{% url 'blog' %}">VIEW ALL</a>
    </div>

    <div id="eskimo-post-carousel" class="eskimo-carousel">
        <!-- CAROUSEL ITEM 1 -->
         {% for post in popular_posts %}
        <div>
            <div class="card-masonry card-small">
                <div class="card">
                    <a href="{% url 'article-detail' post.slug %}">
                        <img class="card-vertical-img" src="{{ post.photo.get_small.url }}" alt="{{ post.photo.thumb_describe }}" />   
                    </a>
                    <div class="card-border">
                        <div class="card-body">
                            <div class="card-category">
                                <a href="{% url 'article-detail' post.slug %}">{{ post.pub_date|date }}</a>
                            </div>
                            <h5 class="card-title"><a href="{% url 'article-detail' post.slug %}">{{ post.title }}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}



{%block script %}

<script src="{% static 'theblog/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'theblog/js/slick.min.js' %}"></script>
<!-- POST SLIDER -->
<script>
    (function($) {
        "use strict";
        $(document).ready(function() {
            $('#eskimo-post-slider').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                slidesToScroll: 1,
                adaptiveHeight: true,
                slidesToShow: 1,
                arrows: true,
                dots: false,
                fade: true
            });
        });
        $(window).on('load', function() {
            $('#eskimo-post-slider').css('opacity', '1');
            $('#eskimo-post-slider').parent().removeClass('eskimo-bg-loader');
        });
    })(jQuery);

</script>
<!-- POST CAROUSEL -->
<script>
    (function($) {
        "use strict";
        $(document).ready(function() {
            $('#eskimo-post-carousel').slick({
                infinite: false,
                slidesToScroll: 1,
                arrows: true,
                dots: false,
                slidesToShow: 3,
                responsive: [{
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1
                    }
                }]

            });
            $('#eskimo-post-carousel').css('opacity', '1');
        });
    })(jQuery);
</script>

{%endblock %}