
{% extends 'layout.html'%}


{% load static %}

{%block head%}
    <title>Search</title>
    <meta name="description" content={{site.description_short}}>
    <meta name="keywords" content={{site_key_words}}>>
{% endblock %}

{%block content%}
                <!-- SEARCH FORM -->
                <div class="eskimo-search-page-form">
                    <form role="search" method="get" class="eskimo-lg-form">
                        <div class="input-group">
                        {{myFilter.form}}
                            {% comment %} <input type="text" class="form-control form-control-lg" placeholder="Enter a keyword..." name="s" /> {% endcomment %}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- BLOG POSTS -->
                <div class="eskimo-masonry-grid">
                    <div class="eskimo-two-columns" data-columns>
                        <!-- POST 1 -->
                        {% for post in posts %}
                        <div class="card-masonry">
                            <div class="card">
                                <a href="{% url 'article-detail' post.slug %}">
                                    <img class="card-vertical-img" src="{{post.photo.get_small.url}}" alt="{{post.photo.thumb_describe}}" />   
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="{% url 'category' post.category.slug %}">{{post.category}}</a></span>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="{% url 'article-detail' post.slug %}">{{post.title}}</a>
                                        </h3>
                                        <p> 
                                        {{post.body|slice:":150"}}...
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-date-meta">
                                            <a href="{% url 'article-detail' post.slug %}">{{ post.pub_date }}</a>
                                        </div>
                                        <div class="eskimo-reading-meta">{{ post.read_time }} min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
                {% include "./component/pagination.html" %}
                <div class="clearfix"></div>
{% endblock %}          
          
{%block script%}
    <script type="text/javascript" src="{% static 'theblog/js/panel.js' %}"></script>
    <script type="text/javascript" src="{% static 'theblog/js/reading-position-indicator.js' %}"></script>
{% endblock %}
