{% extends 'base.html' %}


{% block content %}
<h1>Login...</h1>

<form method="POST">
	{% csrf_token %}

	<div class="form-group">
		<input class="form-control" placeholder="User Name" name="username">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="Password" name="password">
	</div>
	<button type="submit" class="btn btn-primary">Login</button>

</form>
<br />
Not Resgisterd ? Sign Up <a href="{% url 'register' %}">Here...</a>
<br />

{% endblock %}